/.history
/.vs
/Dev
/x64
/x86

*.aps
*.log
*.tlog
*.vcxproj.user

*.nx
*.wz
Settings
# where the debug windows remember where they were put
debugui.ini

/includes/WzLib
# client run directory assembled by run_img.bat
/run_img
